<ion-header>
    <ion-toolbar>
        <ion-title>Distributeur de demonstration</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>
                Distributeur numero 123456789
            </ion-card-subtitle>
        </ion-card-header>
        <ion-grid>
            <ion-row *ngFor="let line of mockupGrid">
                <ion-col *ngFor="let col of line">
                    <div class="locker">
                        {{ col.toUpperCase() }}
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>