<ion-header>
    <ion-toolbar>
        <ion-title>Profil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <h1>Mes commandes</h1>
    </ion-item>

    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let order of orders">
                <ion-card>
                    <ion-card-header>
                        <div [style.backgroundColor]="getRandomColor()" style="height: 10em;">
                        </div>
                        <ion-card-title>Commande {{ order.id }}</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <div>Produits, date (a venir)...</div>
                        <ion-button color="medium">Details</ion-button>
                        <ion-button>Récupérer commande</ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>