<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size-xl="4" size-md="6">
                <h1>
                    <img class="logo" src="assets/logos/main_logo.png">
                </h1>
                <h5 class="catchphrase">
                    Commandez des produits du Pays-Basque
                </h5>
                <ion-button expand="block" routerLink="/login">
                    Commencer
                </ion-button>
                <p class="link-to-register">
                    <a routerLink="/register">S'inscrire</a>
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>